/*1. layout*/
html, body {margin: 0; height: 100%; overflow: hidden}
#container {
    max-width: 800px;
    height: 100%;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
#container.dragging {
    background-color: antiquewhite;
}
#top {
    flex: 0 1 auto;
    display: flex;
}
#top p#status_bar {
    margin: 2px;
    padding-right: 8px;
    flex: 1; /*flex-grow=1*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#middle {
    flex: 1 1 auto;
    overflow-y: scroll;
    border-top: 2px solid gray;
}
#bottom {
    position: relative;
    flex: 0 1 auto;
}

.inputAddon {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
}
.inputAddon span {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*2. table displaying messages*/
table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td {
    padding: 8px;
}
td:first-child {
    /*prevent large blank on the right when the message body is short*/
    width:100%;
    /*display newlines*/
    white-space: pre-wrap;
}
td:last-child {
    /*don't wrap date column*/
    white-space: nowrap;
}
td.right {
    text-align: right;
}

/*3. inputs*/
textarea {
    /*border: none;*/
    /*outline: none;*/
    resize: none;
    width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    font-size: 18px;
    background: transparent;
}

/*bootstrap's outline buttons*/
/*default color is green*/
input[type=button] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #28a745;
    background-color: transparent;
    white-space: nowrap;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    font-size: 1rem;
}

input[type=button]:hover:enabled {
    color: white;
    background-color: #28a745;
}

input[type=button]:disabled {
    opacity: 0.65;
    cursor: default;
}

input.right {
    float: right;
}

input#cancel {
    display: none;
}

/*hide the actual form*/
form#file {
    display: none;
}


/* ---BEGIN Dropdown Menu BEGIN--- */
#dropdown {
    position: relative;
}

#toggle {
  display: block;
  width: 28px;
  margin: 10px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle div {
  width: 100%;
  height: 3px;
  background-color: #444;
  margin: 3px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: translate(0px, 6px) rotate(45deg);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: translate(0px, -6px) rotate(-45deg);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  right: 0;
  color: #999;
  padding: 10px 0;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: left;
  border-radius: 4px;
  background: #eee;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  display: none;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a#logout {
    color: red;
}
li a:hover,
li a:focus {
  background: #28a745;
  color: #fff;
}


#qrcode {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#qrcode.on {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* ---END Dropdown Menu END---*/
