/*1. layout*/
html, body {margin: 0; height: 100%; overflow: hidden}
#container {
    max-width: 800px;
    height: 100%;
    margin: 0px auto;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
}
#container.dragging {
    background-color: antiquewhite;
}
#top {
    flex: 0 1 auto;
    display: flex;
}
#top p#status_bar {
    margin: 2px;
    padding-right: 8px;
    flex: 1; /*flex-grow=1*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#middle {
    flex: 1 1 auto;
    overflow-y: scroll;
    border-top: 2px solid gray;
}
#bottom {
    position: relative;
    flex: 0 1 auto;
}

.inputAddon {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
}
.inputAddon span {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*2. table displaying messages*/
table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td {
    padding: 8px;
}
td:first-child {
    /*prevent large blank on the right when the message body is short*/
    width:100%;
    /*display newlines*/
    white-space: pre-wrap;
}
td:last-child {
    /*don't wrap date column*/
    white-space: nowrap;
}
td.right {
    text-align: right;
}

/*3. inputs*/
textarea {
    /*border: none;*/
    /*outline: none;*/
    resize: none;
    width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    font-size: 18px;
    background: transparent;
}

/*bootstrap's outline buttons*/
/*default color is green*/
input[type=button] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #28a745;
    background-color: transparent;
    white-space: nowrap;
    border: 1px solid #28a745;
    padding: .375rem .75rem;
    font-size: 1rem;
}

input[type=button]:hover:enabled {
    color: white;
    background-color: #28a745;
}

input[type=button]:disabled {
    opacity: 0.65;
    cursor: default;
}

/*red for logout*/
input#logout {
    color: #dc3545;
    border-color: #dc3545;
}
input#logout:hover:enabled {
    color: white;
    background-color: #dc3545;
}

input.right {
    float: right;
}

input#cancel {
    display: none;
}

/*hide the actual form*/
form#file {
    display: none;
}